* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  @each $name, $color in $colors {
    --color-#{"" + $name}: #{$color};
  }

  @each $name, $font in $fonts {
    --font-#{"" + $name}: #{$font};
  }

  font-size: 16px;
}

body {
  font-family: var(--font-lato);
  font-weight: 400;
  font-style: normal;
  color: var(--color-white);

  background-color: var(--color-blue);
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

button,
a {
  font: inherit;
  color: inherit;

  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

.wrap {
  // position: relative;
  max-width: 48rem;
  margin-inline: auto;
}

.relative {
  position: relative;
}
