@import '@/app/styles/mixins';
@import '@/app/styles/vars';

.containter {
  @include flex-column;
  justify-content: space-between;
  height: 100vh;
  padding: 75px 75px 122px 100px;
  background: $blue;
}

.block_header {
  @include flex-row;
  justify-content: space-between;
}

.block_center {
  @include flex-row;
  justify-content: center;
}

.block_footer {
  @include flex-row;
  justify-content: space-between;
}
