@import '@/app/styles/mixins';
@import '@/app/styles/vars';

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0.9;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.container {
  @include flex-column;
  justify-content: space-between;
  height: 100%;
  background: $blue;
  animation: fadeIn 0.5s ease-in-out;
}

.block_center {
  @include flex-center;
  height: 100%;
  gap: 10px;
}

.main_info {
  @include flex-row;
}

.block_footer {
  @include flex-row;
  justify-content: space-between;
}
