@import '@/app/styles/mixins';
@import '@/app/styles/vars';

.button {
  @include flex-center;
  background: transparent;
  border: none;
  color: $white;
  font-size: 18px;
  line-height: 21.6px;
  opacity: 0.4;
  &:hover {
    opacity: 1;
    transition: 0.5s;
  }
}

.icon {
  width: 30px;
  height: 30px;
}
