@import '@/app/styles/mixins';
@import '@/app/styles/vars';

.containter {
  @include flex-row;
  background: $dr-white;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 30px;
  max-width: 579px;
}

.submit {
  color: $blue-light ;
  opacity: 1;
  font-size: 30px;
  line-height: 36px;
  &:disabled {
    opacity: 0.4;
  }
}
