@import '@/app/styles/mixins';

.layout {
  height: 100vh;
  padding: 75px;
  background-color: var(--background-color-secondary);

  &Header {
    @include flex-row;
    justify-content: space-between;
  }

  &Body {
    width: 100%;
    height: calc(100vh - 122px - 150px);
    display: flex;
    column-gap: 16px;
  }

  &Main {
    width: 100%;
  }
}
